<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <br><br><br>
    <div class="slider">
        <div class="list">
            <a>
                <div class="item">
                    <p>Voici un texte personnel pour cette image.</p>
                    <img src="..\assets\2.jpg" alt="">
                </div>
            </a>
            <a>
                <div class="item">
                    <img src="..\assets\1.png" alt="">
                    <p>Un autre texte pour cette image, décrivant son contenu.</p>

                </div>
            </a>
            <a>
                <div class="item">
                    <p>Un autre paragraphe personnel pour cette image.</p>
                    <img src="..\assets\3.png" alt="">
                </div>
            </a>


        </div>
        <div class="buttons">
            <button id="prev"><</button>
            <button id="next">></button>
        </div>
        <ul class="dots">
            <li class="active"></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

</body>
</html>
