<div class="container mt-5"> 
    <div class="row justify-content-center"> 
      <div class="col-md-4"> 
        
        <!-- Affichage des erreurs -->
        <div class="alert alert-danger" *ngIf="err != ''"> 
          <strong>{{ err }}</strong> 
        </div>  
        
        <!-- Formulaire de validation du code -->
        <div class="card shadow-lg p-4">
          <h4 class="text-center mb-4">Vérification de votre Email</h4>
          
          <form>
            <div class="mb-3">
              <label for="code" class="form-label">Veuillez entrer le code envoyé par mail</label>
              <input type="text" id="code" name="code" [(ngModel)]="code" class="form-control" placeholder="Code de confirmation" required />
            </div>
  
            <!-- Bouton d'envoi -->
            <div class="d-flex justify-content-center">
              <button type="button" class="btn btn-success w-100" (click)="onValidateEmail()">Valider</button>
            </div>
          </form>
        </div>
  
      </div> 
    </div> 
  </div>
  
  
  